
<form method = "post" action="/predict_iris" >
    <h1>Predict IRIS</h1>

    <label for="value1"><b>Name</b></label><br>
    <input type="text" placeholder="Sepal Length" name="value1"  required><br/>

    <label for="value2"><b>Experience</b></label><br/>
    <input type="text" placeholder="Sepal width" name="value2"  required><br/><br/>

    <label for="value3"><b>Name</b></label><br>
    <input type="text" placeholder="Petal Length" name="value3"  required><br/>

    <label for="value4"><b>Experience</b></label><br/>
    <input type="text" placeholder="Petal width" name="value4"  required><br/><br/>

     <button type="submit">Predict Iris</button>

</form>
